@page "/"
@namespace DapiWebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DapiWebApp</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/Cocktail/Cocktail.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<body>
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="~/NewFolder/DragAndDrop.js"></script>

    <h1>Crushed`n Cocktails</h1>

    <script>
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("image", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("image");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>

    

        <div class="grid-container">
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>

            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>

            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>

            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>
            <div ondrop="drop(event)" ondragover="allowDrop(event)"></div>

        </div>

        <img id="Vodka" class="Getränke" src="Bilder/Vodka.jpg" draggable="true" ondragstart="drag(event)" height="100" width="100">
    </body>
   
</html>

